# --- Object files ---
*.o

# --- Executables (Linux/Unix) ---
# Ignore semua file yang tidak punya ekstensi dan bukan hidden file (.)
# tapi tetap simpan file .c, .h, Makefile, dll.
# Pakai pola ini biar aman:
*
!*/
!*.c
!*.h
!Makefile
!.gitignore

